
.loginBox{

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 350px;
	height: 420px;
	box-sizing: border-box;
	background: rgba(255,255,255,.5);
	padding: 80px 40px;

}
.userImage{

	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	top: calc(-100px/2);
	left: calc(50% - 50px);

}

.loginBox h2{

	margin: 0;
	padding: 0 0 20px;
	color: black;
	text-align: center;

}
.loginBox p{

	margin: 0;
	padding: 0;
	font-weight: bold;
	color: black;

}
.loginBox input{
	width: 270px;
	margin-bottom: 20px;
}
.loginBox input[type="text"],
.loginBox input[type="email"],
.loginBox input[type="password"]
{
	border: none;
	border-bottom: 1px solid black;
	background: transparent;
	outline: none;
	height: 40px;
	color: black;
	font-size: 16px;
}
::placeholder{
	color: rgba(255,255,255,.5);
}
.loginBox input[type="submit"]{

	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
	background: #1b89da;
	cursor: pointer;
	border-radius: 20px;

}
.loginBox input[type="submit"]:hover{

	background: #418ef4;
	color: #262626;

}
.loginBox a{

	color: black;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;

}

.registerBox{

	position: absolute;
	top: 500px;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 550px;
	height: 550px;
	box-sizing: border-box;
	background: rgba(255,255,255,.5);
	padding: 80px 40px;
	margin-bottom: 50px;
	position: absolute;

}
.registerBox .userImage{

	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	top: calc(-100px/2);
	left: calc(50% - 50px);

}
.registerBox h3{

	margin: 0;
	padding: 0 0 10px;
	color: black;
	text-align: center;

}
.registerBox p{

	margin: 0;
	padding: 0;
	font-weight: bold;
	color: black;

}
.registerBox input{
	width: 470px;
	margin-bottom: 15px;
}
.registerBox input[type="text"],
.registerBox input[type="number"],
.registerBox input[type="email"],
.registerBox input[type="password"]
{
	border: none;
	border-bottom: 1px solid black;
	background: transparent;
	outline: none;
	height: 40px;
	color: black;
	font-size: 16px;
}
::placeholder{
	color: rgba(255,255,255,.5);
}
.registerBox input[type="submit"]{

	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
	background: #1b89da;
	cursor: pointer;
	border-radius: 20px;
	width: 270px;
	margin-left: 18%;
}
.registerBox input[type="submit"]:hover{

	background: #418ef4;
	color: #262626;

}
.registerBox select{
	border: none;
	border-bottom: 1px solid black;
	background: transparent;
	outline: none;
	height: 40px;
	color: black;
	font-size: 16px;
	width: 470px;
	margin-bottom: 20px;

}
.registerBox option{
	color: black;
}

.registerBox a{

	color: black;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	margin-left: 200px;

}

::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
::-webkit-scrollbar-corner{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
















